<form action="/employees" method="post">

<div class="button"><label for="name">Name of employee: </label>
<input id="name" type="integer" name='party[people]'><br> 
<input type="submit"></div>

</form>
