<h2><%= @employee.name %></h2>
  <% tips_total = 0.00 %>
    <% @parties.each do |party| %>
      <% tips_total += party.tip || 0%>
      <% end %>
    <p>Tips so far: <%=currency(tips_total) %></p><br><br><br>

<div class="button"><a href="/parties/new">Add party</a></div>