form {
 width: 50%;
}

form label {
 display: block;
}

form input[type='text'] {
 width: 100%;
}

form input + label {
 margin-top: 1em;
} 

#logo {
  font-family: 'Open Sans Condensed', sans-serif;
}