/*form {
 width: 50%;
}

form label {
 display: block;
}

form input[type='text'] {
 width: 100%;
}

form input + label {
 margin-top: 1em;
} 
*/
body, nav, div, span, article, p, ul, li, a {
 margin: 0;
 border: 0;
 padding: 0;
 font: inherit;
}

input, textarea, select, a { outline: none; }


$first: #32213A;
$second: #383B53;
$third: #66717E;
$fourth: #D4D6B9;
$fifth: #D1CAA1;

body {
  background-color: $fourth;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}


.navbar {
  background-color: $fourth;
    #logo {
      background-color: $first;
      width: 200px;
      float: left;
      border: $fourth solid 6px;
      border-radius: 12px;
      p {
        a {
          color: $fourth;
        }
        a:hover {
          color: $fourth;
        }
        a:active {
          color: $fourth;
        }
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 36px;
        color: $fourth;
        border: $third solid 2px;
        border-radius: 6px;
        text-align: center;
        padding-bottom: 8px;
        margin: 10px 10px 12px 10px;
      }
      }
        .links {
          line-height: 41px;
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 30px;
          color: $first;
          margin: 15px 10px;
          float: right;
          list-style: none;
            a:hover {
              color: $third;
            }
              a:active {
                color: $first;
              } 
                li {
                  float: left;
                }
                  li + li {
                    margin-left: 12px;
                    border-left: 1px solid $first;
                    padding-left: 8px;
                    height: 45px;
                  }
    
}

}
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

main {
  list-style-type: none;
  margin-top: 110px;
  margin-bottom: 60px;
  text-align: center;
  h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: $second;
    margin: 6px;
  }
    h2 {
      font-size: 32px;
      font-family: 'Karma', serif;
    }
      h3 {
        font-size: 25px;
        font-family: 'Karma', serif;
        line-height: 30px;
      }
        h3.menu {
          margin-top: 18px;
        }
          p {
            font-family: 'Open Sans Condensed', sans-serif;
            color: $second;
            font-size: 27px;
          }
            p.desc {
              max-width: 600px;
              margin: 0 auto;
            }
            p.parties {
              font-size: 18px;
            }
              li {
                list-style-type: none;
                font-family: 'Open Sans Condensed', sans-serif;
                color: $second;
                font-size: 20px;
                max-width: 600px;
                margin: 0 auto;
              }
                a {
                  font-family: 'Open Sans Condensed', sans-serif;
                  font-size: 25px;
                  color: $second;
                    a:active {
                      color: $second;
                    }
  }
}


select {
  background: transparent;
  width: 160px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $third;  
  line-height: 1;
  border: 1px solid $second;
  border-radius: 8px;
  height: 32px;
  margin: 4px;
  select:hover {
    color: $third;
  }
}


.button {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $second;
  display: inline-block;
  font-size: 15px;
  span {
    font-size: 18px;
  }
  
    a {
      padding: 1px 4px;
      border-left: 2px solid $third;
      border-right: 2px solid $third;
      border-radius: 8px;
    }
      a:hover {
        color: $third;
        cursor: pointer;
        border-left: 2px dotted $third;
        border-right: 2px dotted $third;
      }
        a:active {
          color: $second;
        }
}


.tip p {
  font-size: 16px;
}

input[type="submit"] {
  padding: 4px;
  margin: 4px;
  border: inherit;
  background: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: $second;
  line-height: 12px;
  background-image: none;
  box-shadow: none;
  border-top: 1px dotted $second;
  border-bottom: 1px dotted $second;
  border-radius: 3px;
  font-size: 15px;
}

input[type="submit"]:hover {
  color: $third;
  border-top: 1px solid $third;
  border-bottom: 1px solid $third;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:active {
  color: $second;
}

main a:hover {
  color: $third;
}

main a:active {
  color: $second;
}

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $third;
  padding: 20px 20px 10px 20px;
  position: relative;
}

@media only screen and (max-width: 6000px) {
.navbar {
 display: block;
 float: none;
   a { 
     display: block;
     width: 100%;
     text-align: center;
     float: none;
   }
 }
}

@media only screen and (min-width: 1300px) {

}

@media print {
 .no-print {
   display: none;
 }
}





