/*form {
 width: 50%;
}

form label {
 display: block;
}

form input[type='text'] {
 width: 100%;
}

form input + label {
 margin-top: 1em;
} 
*/
body, nav, div, span, article, p, ul, li, a {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit; }

body {
  background-color: #D4D6B9;
  list-style: none;
  margin-left: 20px;
  margin-right: 20px; }

a {
  text-decoration: none; }

.navbar {
  background-color: #D4D6B9; }
  .navbar #logo {
    background-color: #32213A;
    width: 200px;
    float: left;
    border: #D4D6B9 solid 6px;
    border-radius: 12px; }
    .navbar #logo p {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 36px;
      color: #D4D6B9;
      border: #66717E solid 2px;
      border-radius: 6px;
      text-align: center;
      padding-bottom: 8px;
      margin: 10px 10px 12px 10px; }
      .navbar #logo p a {
        color: #D4D6B9; }
      .navbar #logo p a:hover {
        color: #D4D6B9; }
      .navbar #logo p a:active {
        color: #D4D6B9; }
  .navbar .links {
    line-height: 41px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #32213A;
    margin: 15px 10px;
    float: right;
    list-style: none; }
    .navbar .links a:hover {
      color: #66717E; }
    .navbar .links a:active {
      color: #32213A; }
    .navbar .links li {
      float: left; }
    .navbar .links li + li {
      margin-left: 12px;
      border-left: 1px solid #32213A;
      padding-left: 8px;
      height: 45px; }

.clearfix:after {
  clear: both;
  display: block;
  content: ""; }

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

ul {
  list-style-type: none; }

main {
  list-style-type: none;
  margin-top: 110px;
  margin-bottom: 60px;
  text-align: center; }
  main h2, main h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #383B53;
    margin: 6px; }
  main h2 {
    font-size: 32px;
    font-family: 'Karma', serif; }
  main h3 {
    font-size: 25px;
    font-family: 'Karma', serif;
    line-height: 30px; }
  main h3.menu {
    margin-top: 18px; }
  main p {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #383B53;
    font-size: 27px; }
  main p.parties {
    font-size: 18px; }
  main li {
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #383B53;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto; }
  main a {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: #383B53; }
    main a a:active {
      color: #383B53; }

select {
  background: transparent;
  width: 160px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #66717E;
  line-height: 1;
  border: 1px solid #383B53;
  border-radius: 8px;
  height: 30px;
  margin: 4px; }
  select select:hover {
    color: #66717E; }

.button {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #383B53;
  display: inline-block;
  font-size: 15px; }
  .button span {
    font-size: 18px; }
  .button a {
    padding: 1px 4px;
    border-left: 2px solid #66717E;
    border-right: 2px solid #66717E;
    border-radius: 8px; }
  .button a:hover {
    color: #66717E;
    cursor: pointer;
    border-left: 2px dotted #66717E;
    border-right: 2px dotted #66717E; }
  .button a:active {
    color: #383B53; }

.tip p {
  font-size: 16px; }

input[type="submit"] {
  padding: 4px;
  margin: 4px;
  border: inherit;
  background: none;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #383B53;
  line-height: 12px;
  background-image: none;
  box-shadow: none;
  border-top: 1px dotted #383B53;
  border-bottom: 1px dotted #383B53;
  border-radius: 3px;
  font-size: 15px; }

input[type="submit"]:hover {
  color: #66717E;
  border-top: 1px solid #66717E;
  border-bottom: 1px solid #66717E;
  border-radius: 3px;
  cursor: pointer; }

input[type="submit"]:active {
  color: #383B53; }

main a:hover {
  color: #66717E; }

main a:active {
  color: #383B53; }

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #66717E;
  padding: 20px 20px 10px 20px;
  position: relative; }

@media only screen and (max-width: 6000px) {
  .navbar {
    display: block;
    float: none; }
    .navbar a {
      display: block;
      width: 100%;
      text-align: center;
      float: none; } }
@media print {
  .no-print {
    display: none; } }

/*# sourceMappingURL=style.css.map */
