<html>
  <head>
    <title>Restaurant</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Karma:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/sass/style.css">
  </head>
  <body>
    <header>
      <%= erb :"/static/navigation" %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= erb :"/static/copyright" %>
    </footer>
  </body>
</html>