<h2>Editing table <%= @party.table_number %>'s order</h2>

<form action="/parties/<%= @party.id %>" method="POST">
  
  <label for="name">Number of guests: </label>
  <input id="name" type="integer" name='party[people]' value="<%= @party.people %>"><br> 
  
  <div class="button"><input type="submit"></div>
</form>

