<form action="/parties" method="post">

<label for="name">Number of guests: </label>
<input id="name" type="integer" name='party[people]'><br> 

<label for="avail_table">Available tables: </label> 
<select id="avail_table" name="party[table_number]">
     <% @available.each do |avail| %>
     <option id="table_number" type="number" value="<%= avail %>"><%= avail %> </option>
     <% end %>
</select>

<input type="submit">

</form>
