<nav class="navbar sticky clearfix">
  <div id="logo">
    <p>sugar|shack</p>
  </div>
  <ul class="links clearfix no-print">
    <li>
      <a href="/foods">menu</a>
    </li>
    <li>
      <a href="/parties">open parties</a>
    </li>
    <li>
      <a href="/employees">employees</a>
    </li>
  </ul>
</nav>
